

@font-face {
    font-family: 'Montserrat Hairline';
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular.ttf');
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Dejavu';
    src: url('../fonts/DejaVuSans-ExtraLight.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Dejavu';
    src: url('../fonts/DejaVuSans.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
}

html, body {
    font-family: 'Arimo', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 500;

}

h2, h3 {
    font-family: 'Dejavu', 'Arial', sans-serif;
    letter-spacing: 2px;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ------------------
----- HEADINGS ----- */

h1 {
    font-weight: 100;
}

/* ------------------
----- HEADER ----- */

header {
    position: relative;
    height: 500px;
    overflow: hidden;
}


/* ------------------
----- NAVIGATION ----- */

nav {
    padding-top: 30px;
    height: 13%;
    color: #EFB301;
    background-color: #FFFFFF;
    overflow: hidden;
    font-weight: 500;
}

nav a {
    color: #F2B500;
    padding-bottom: 2px;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

nav a:hover,
nav a:active {
    border-bottom: 2px solid #EFB301;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav p {
    position: absolute;
    color: #EFB301;
    left: 5px;
}

/* ------------------
----- INTRODUCTION ----- */

.introduction {
    position: relative;
    width: 100%;
    height: 87%;
    overflow: hidden;
    background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.4) 70%), url("../img/photo-1469082993720-0b12bbd9e68b.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.introduction a {
    text-decoration: none;
    top: 50%;
    position: absolute;
}

.left-chevron {
    position: absolute;
    float: left;
    left: 40px;
    display: inline-block;
}

.right-chevron {
    position: absolute;
    float: right;
    right: 40px;
    display: inline-block;
}

.headlines {
    position: absolute;
    margin-left: 10%;
    bottom: 20px;
}

.headlines h3, .headlines p {
    margin-left: 30px;
    margin-right: 40px;
}

.headlines p {
    margin-top: 5px;
    margin-bottom: 20px;
}

.headlines h3 {
    margin-top: 10px;
}



/* ------------------
----- NEWS ----- */

.news {
    width: 100%;
    /*background-color: #F4F4F4;*/
    background: linear-gradient(#F7CA3E, #EFB301);
    background-size: cover;
    background-position: center;
    -webkit-transform: translateZ(0);
    padding: 50px 50px 100px 100px;
}

.aktuality, .projects, .club, .achievements {
    position: relative;
    width: 50%;
    display: inline-block;
    float: left;
}


.news h2 {
    color: #FFFFFF;
    margin-bottom: 20px;
}

.article-box, .article {
    width: 450px;
    height: 250px;
    overflow: hidden;
}

.article-box {
    position: relative;
    margin-bottom: 40px;
}

.news p {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.news .fa {
    margin-right: 5px;
}

.news a {
    position: relative;
    display: block;
}

.news a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.8) 90%), url('../img/00_2016_karel_pripravka.jpg');
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 250px;

    transition: all 0.5s ease;
}

.news a:hover:before, .news a:active:before {

    transform: scale(1.12);
    filter: blur(1px);
}

.article h3 {
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
    bottom: 20px;
    width: 450px;
    padding-left: 10px;
    text-align: center;
}







