

@font-face {
    font-family: 'Montserrat Hairline';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
}

html, body {
    font-family: 'Arimo', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 500;

}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ------------------
----- HEADINGS ----- */

h1 {
    font-weight: 100;
    text-align: center;
    color: #EFB301;
    margin-top: 40px;
    font-size: 3em;
}

h1:after {
    content: '';
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    width: 350px;
    height: 2px;
    background-color: #EFB301;

}

h2, h3 {
    font-family: 'Dejavu', 'Arial', sans-serif;
    letter-spacing: 2px;
}

/* ------------------
----- HEADER ----- */

header {
    position: relative;
    height: 500px;
    overflow: hidden;
}


/* ------------------
----- NAVIGATION ----- */

nav {
    font-family: 'Montserrat', 'Arial', sans-serif;
    padding-top: 30px;
    height: 13%;
    color: #EFB301;
    background-color: #FFFFFF;
    overflow: hidden;
    font-weight: 500;
}

nav a {
    color: #F2B500;
    padding-bottom: 2px;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

nav a:hover,
nav a:active {
    border-bottom: 2px solid #EFB301;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav p {
    display: inline-block;
    color: #EFB301;
    margin-left: 20px;
}

/* ------------------
----- INTRODUCTION ----- */

.introduction {
    position: relative;
    width: 100%;
    height: 87%;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.5) 70%), url('{{ url_for('static', filename='img/korunka/photo-1469082993720-0b12bbd9e68b.jpg') }}') no-repeat;
    background-position: center;
    background-size: cover;
}

.introduction a {
    text-decoration: none;
    top: 50%;
    position: absolute;
}

.left-chevron {
    position: absolute;
    float: left;
    left: 40px;
    display: inline-block;
}

.right-chevron {
    position: absolute;
    float: right;
    right: 40px;
    display: inline-block;
}

.headlines {
    position: absolute;
    margin-left: 10%;
    bottom: 20px;
}

.headlines h3, .headlines p {
    margin-left: 30px;
    margin-right: 40px;
}

.headlines p {
    margin-top: 5px;
    margin-bottom: 20px;
}

.headlines h3 {
    margin-top: 10px;
}



/* ------------------
----- NEWS ----- */

.news {
    width: 100%;
    background-color: #F4F4F4;
    /*background: linear-gradient(#F7CA3E, #EFB301);*/
    background-size: cover;
    background-position: center;
    -webkit-transform: translateZ(0);
}

.column {
    padding-left: 3%;
    margin-top: 5%;
    position: relative;
    width: 33.33%;
    display: inline-block;
    float: left;
}


.news h2 {
    color: #FFFFFF;
    margin-bottom: 20px;
}


.article, .article-box {
    height: 250px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}

.article-box {
    width: 100%;
}

.article {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.link-image {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.link-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;

    width: 100%;
    height: 100%;

    transition: all 0.5s ease;
}

.link-image:hover:before, .link-image:active:before {
    transform: scale(1.12);
    filter: blur(1px);
}

.link-image {
    overflow: hidden;
}

.article {
    padding-left: 2%;
}

.article h3 {
    font-weight: 400;
    letter-spacing: 1px;
    position: absolute;
    bottom: 35px;
    width: 97%;
    text-align: left;
}


.sublink {
    position: absolute;
    bottom: 10px;
    left: 2%;
    font-size: 0.8em;
    color: #bbbbbb;
    font-family: 'Dejavu', 'Arial', sans-serif;
    display: inline;
    text-decoration: none;
    z-index: 1;
}

.sublink:hover, .sublink:active {
    text-decoration: underline;
}

.sublink:before {
    content: '';
    background-color: red;
    width: 2px;
    height: 16px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}

.column:nth-child(2) .article-box:nth-child(1) .sublink:before {
    background-color: red;
}

.column:nth-child(3) .article-box:nth-child(1) .sublink:before {
    background-color: blue;
}

.column:nth-child(3) .article-box:nth-child(2) .sublink:before {
    background-color: yellow;
}

.column:nth-child(4) .article-box:nth-child(1) .sublink:before {
    background-color: yellow;
}

.column:nth-child(4) .article-box:nth-child(2) .sublink:before {
    background-color: blue;
}


.article a:before {
    content: '';
    width: 2px;
    height: 16px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}


.article a:hover, .article a:active {
    text-decoration: underline;
}







